<div class="container-fluid">
  <h3>Adam Bielecki & Denis Urubko GPS signal (No API limits)</h3>

  <div>
    <div id="sidebar_builder" class="map_container"></div>
  </div>
  <div id='sidebar_container'>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Time (Europe/Warsaw)</th>
          <th scope="col">Elevation (mamsl)</th>
          <th scope="col">Speed (mamsl/hour)</th>
          <th scope="col">Message from Adam</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

<script>
  $( document ).ready(function() {
    function createSidebarTr(json){
      return ("<tr><td><a>" + json.index + "</a></td><td>" + json.marker_title + "</td><td>" + json.elevation + "</td><td>" + json.speed +  "</td><td>" + json.message + "</td></tr>");
    };

    function bindLiToMarker($li, marker){
      $li.on('click', function(){
        handler.getMap().setZoom(14);
        marker.setMap(handler.getMap()); //because clusterer removes map property from marker
        marker.panTo();
        google.maps.event.trigger(marker.getServiceObject(), 'click');
      })
    };

    function createSidebar(json_array){
      _.each(json_array, function(json){
        var $tr = $( createSidebarTr(json) );
        $tr.appendTo('#sidebar_container tbody');
        bindLiToMarker($tr, json.marker);
      });
    };

    var handler = Gmaps.build('Google');
    handler.buildMap({
        provider: {
          mapTypeId: 'hybrid'
          // disableDefaultUI: true
          // pass in other Google Maps API options here
        },
        internal: {
          id: 'sidebar_builder'
        }
      },
      function(){
        var json_array = <%=raw @hash.to_json %>
        markers = handler.addMarkers(json_array);

        _.each(json_array, function(json, index){
          json.marker = markers[index];
        });

        createSidebar(json_array);
        handler.bounds.extendWith(markers.slice(0, 5));
        handler.fitMapToBounds();
      }
    );

  })
</script>
